@charset "UTF-8";
/* line 1, ../sass/globals/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 16, ../sass/globals/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 23, ../sass/globals/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 28, ../sass/globals/_normalize.scss */
[hidden] {
  display: none;
}

/* line 32, ../sass/globals/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 38, ../sass/globals/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 46, ../sass/globals/_normalize.scss */
body {
  margin: 0;
}

/* line 50, ../sass/globals/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 54, ../sass/globals/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 59, ../sass/globals/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 64, ../sass/globals/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 69, ../sass/globals/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 74, ../sass/globals/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 79, ../sass/globals/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 84, ../sass/globals/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 89, ../sass/globals/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 93, ../sass/globals/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 98, ../sass/globals/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 102, ../sass/globals/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 106, ../sass/globals/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 112, ../sass/globals/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 117, ../sass/globals/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 122, ../sass/globals/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 131, ../sass/globals/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 137, ../sass/globals/_normalize.scss */
q {
  quotes: none;
}

/* line 141, ../sass/globals/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 148, ../sass/globals/_normalize.scss */
small {
  font-size: 80%;
}

/* line 152, ../sass/globals/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 160, ../sass/globals/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 164, ../sass/globals/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 168, ../sass/globals/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 175, ../sass/globals/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 179, ../sass/globals/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 185, ../sass/globals/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 191, ../sass/globals/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 196, ../sass/globals/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 200, ../sass/globals/_normalize.scss */
figure {
  margin: 0;
}

/* line 204, ../sass/globals/_normalize.scss */
form {
  margin: 0;
}

/* line 208, ../sass/globals/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 214, ../sass/globals/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/* line 221, ../sass/globals/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* line 231, ../sass/globals/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 236, ../sass/globals/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 241, ../sass/globals/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/* line 250, ../sass/globals/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 255, ../sass/globals/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/* line 263, ../sass/globals/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 270, ../sass/globals/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 275, ../sass/globals/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 281, ../sass/globals/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 286, ../sass/globals/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/globals/_overrides.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 9, ../sass/globals/_overrides.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  padding: 0;
}

/* line 15, ../sass/globals/_overrides.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 20, ../sass/globals/_overrides.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 25, ../sass/globals/_overrides.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 34, ../sass/globals/_overrides.scss */
img {
  vertical-align: middle;
}

/* line 38, ../sass/globals/_overrides.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/globals/_overrides.scss */
textarea {
  resize: vertical;
}

/* line 47, ../sass/globals/_overrides.scss */
strong {
  font-weight: bold;
}

/* line 50, ../sass/globals/_overrides.scss */
em {
  font-style: italic;
}

/* line 53, ../sass/globals/_overrides.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
==========================================================================
Grid Settings
==========================================================================
*/
/*
==========================================================================
Fonts
==========================================================================
*/
/*
==========================================================================
Colors
==========================================================================
*/
/*
==========================================================================
CSS animations / keyframes
==========================================================================
*/
/*
==========================================================================
Mixins
==========================================================================
*/
/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../sass/components/fontawesome/_core.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../sass/components/fontawesome/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../sass/components/fontawesome/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../sass/components/fontawesome/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../sass/components/fontawesome/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../sass/components/fontawesome/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../sass/components/fontawesome/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, ../sass/components/fontawesome/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, ../sass/components/fontawesome/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../sass/components/fontawesome/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, ../sass/components/fontawesome/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, ../sass/components/fontawesome/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

/* line 10, ../sass/components/fontawesome/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 11, ../sass/components/fontawesome/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 14, ../sass/components/fontawesome/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 15, ../sass/components/fontawesome/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../sass/components/fontawesome/_spinning.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 4, ../sass/components/fontawesome/_rotated-flipped.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../sass/components/fontawesome/_rotated-flipped.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../sass/components/fontawesome/_rotated-flipped.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../sass/components/fontawesome/_rotated-flipped.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../sass/components/fontawesome/_rotated-flipped.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 4, ../sass/components/fontawesome/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../sass/components/fontawesome/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../sass/components/fontawesome/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../sass/components/fontawesome/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../sass/components/fontawesome/_stacked.scss */
.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../sass/components/fontawesome/_icons.scss */
.fa-glass:before {
  content: "";
}

/* line 5, ../sass/components/fontawesome/_icons.scss */
.fa-music:before {
  content: "";
}

/* line 6, ../sass/components/fontawesome/_icons.scss */
.fa-search:before {
  content: "";
}

/* line 7, ../sass/components/fontawesome/_icons.scss */
.fa-envelope-o:before {
  content: "";
}

/* line 8, ../sass/components/fontawesome/_icons.scss */
.fa-heart:before {
  content: "";
}

/* line 9, ../sass/components/fontawesome/_icons.scss */
.fa-star:before {
  content: "";
}

/* line 10, ../sass/components/fontawesome/_icons.scss */
.fa-star-o:before {
  content: "";
}

/* line 11, ../sass/components/fontawesome/_icons.scss */
.fa-user:before {
  content: "";
}

/* line 12, ../sass/components/fontawesome/_icons.scss */
.fa-film:before {
  content: "";
}

/* line 13, ../sass/components/fontawesome/_icons.scss */
.fa-th-large:before {
  content: "";
}

/* line 14, ../sass/components/fontawesome/_icons.scss */
.fa-th:before {
  content: "";
}

/* line 15, ../sass/components/fontawesome/_icons.scss */
.fa-th-list:before {
  content: "";
}

/* line 16, ../sass/components/fontawesome/_icons.scss */
.fa-check:before {
  content: "";
}

/* line 17, ../sass/components/fontawesome/_icons.scss */
.fa-times:before {
  content: "";
}

/* line 18, ../sass/components/fontawesome/_icons.scss */
.fa-search-plus:before {
  content: "";
}

/* line 19, ../sass/components/fontawesome/_icons.scss */
.fa-search-minus:before {
  content: "";
}

/* line 20, ../sass/components/fontawesome/_icons.scss */
.fa-power-off:before {
  content: "";
}

/* line 21, ../sass/components/fontawesome/_icons.scss */
.fa-signal:before {
  content: "";
}

/* line 22, ../sass/components/fontawesome/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "";
}

/* line 24, ../sass/components/fontawesome/_icons.scss */
.fa-trash-o:before {
  content: "";
}

/* line 25, ../sass/components/fontawesome/_icons.scss */
.fa-home:before {
  content: "";
}

/* line 26, ../sass/components/fontawesome/_icons.scss */
.fa-file-o:before {
  content: "";
}

/* line 27, ../sass/components/fontawesome/_icons.scss */
.fa-clock-o:before {
  content: "";
}

/* line 28, ../sass/components/fontawesome/_icons.scss */
.fa-road:before {
  content: "";
}

/* line 29, ../sass/components/fontawesome/_icons.scss */
.fa-download:before {
  content: "";
}

/* line 30, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "";
}

/* line 31, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "";
}

/* line 32, ../sass/components/fontawesome/_icons.scss */
.fa-inbox:before {
  content: "";
}

/* line 33, ../sass/components/fontawesome/_icons.scss */
.fa-play-circle-o:before {
  content: "";
}

/* line 34, ../sass/components/fontawesome/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

/* line 36, ../sass/components/fontawesome/_icons.scss */
.fa-refresh:before {
  content: "";
}

/* line 37, ../sass/components/fontawesome/_icons.scss */
.fa-list-alt:before {
  content: "";
}

/* line 38, ../sass/components/fontawesome/_icons.scss */
.fa-lock:before {
  content: "";
}

/* line 39, ../sass/components/fontawesome/_icons.scss */
.fa-flag:before {
  content: "";
}

/* line 40, ../sass/components/fontawesome/_icons.scss */
.fa-headphones:before {
  content: "";
}

/* line 41, ../sass/components/fontawesome/_icons.scss */
.fa-volume-off:before {
  content: "";
}

/* line 42, ../sass/components/fontawesome/_icons.scss */
.fa-volume-down:before {
  content: "";
}

/* line 43, ../sass/components/fontawesome/_icons.scss */
.fa-volume-up:before {
  content: "";
}

/* line 44, ../sass/components/fontawesome/_icons.scss */
.fa-qrcode:before {
  content: "";
}

/* line 45, ../sass/components/fontawesome/_icons.scss */
.fa-barcode:before {
  content: "";
}

/* line 46, ../sass/components/fontawesome/_icons.scss */
.fa-tag:before {
  content: "";
}

/* line 47, ../sass/components/fontawesome/_icons.scss */
.fa-tags:before {
  content: "";
}

/* line 48, ../sass/components/fontawesome/_icons.scss */
.fa-book:before {
  content: "";
}

/* line 49, ../sass/components/fontawesome/_icons.scss */
.fa-bookmark:before {
  content: "";
}

/* line 50, ../sass/components/fontawesome/_icons.scss */
.fa-print:before {
  content: "";
}

/* line 51, ../sass/components/fontawesome/_icons.scss */
.fa-camera:before {
  content: "";
}

/* line 52, ../sass/components/fontawesome/_icons.scss */
.fa-font:before {
  content: "";
}

/* line 53, ../sass/components/fontawesome/_icons.scss */
.fa-bold:before {
  content: "";
}

/* line 54, ../sass/components/fontawesome/_icons.scss */
.fa-italic:before {
  content: "";
}

/* line 55, ../sass/components/fontawesome/_icons.scss */
.fa-text-height:before {
  content: "";
}

/* line 56, ../sass/components/fontawesome/_icons.scss */
.fa-text-width:before {
  content: "";
}

/* line 57, ../sass/components/fontawesome/_icons.scss */
.fa-align-left:before {
  content: "";
}

/* line 58, ../sass/components/fontawesome/_icons.scss */
.fa-align-center:before {
  content: "";
}

/* line 59, ../sass/components/fontawesome/_icons.scss */
.fa-align-right:before {
  content: "";
}

/* line 60, ../sass/components/fontawesome/_icons.scss */
.fa-align-justify:before {
  content: "";
}

/* line 61, ../sass/components/fontawesome/_icons.scss */
.fa-list:before {
  content: "";
}

/* line 62, ../sass/components/fontawesome/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

/* line 64, ../sass/components/fontawesome/_icons.scss */
.fa-indent:before {
  content: "";
}

/* line 65, ../sass/components/fontawesome/_icons.scss */
.fa-video-camera:before {
  content: "";
}

/* line 66, ../sass/components/fontawesome/_icons.scss */
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

/* line 69, ../sass/components/fontawesome/_icons.scss */
.fa-pencil:before {
  content: "";
}

/* line 70, ../sass/components/fontawesome/_icons.scss */
.fa-map-marker:before {
  content: "";
}

/* line 71, ../sass/components/fontawesome/_icons.scss */
.fa-adjust:before {
  content: "";
}

/* line 72, ../sass/components/fontawesome/_icons.scss */
.fa-tint:before {
  content: "";
}

/* line 73, ../sass/components/fontawesome/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

/* line 75, ../sass/components/fontawesome/_icons.scss */
.fa-share-square-o:before {
  content: "";
}

/* line 76, ../sass/components/fontawesome/_icons.scss */
.fa-check-square-o:before {
  content: "";
}

/* line 77, ../sass/components/fontawesome/_icons.scss */
.fa-arrows:before {
  content: "";
}

/* line 78, ../sass/components/fontawesome/_icons.scss */
.fa-step-backward:before {
  content: "";
}

/* line 79, ../sass/components/fontawesome/_icons.scss */
.fa-fast-backward:before {
  content: "";
}

/* line 80, ../sass/components/fontawesome/_icons.scss */
.fa-backward:before {
  content: "";
}

/* line 81, ../sass/components/fontawesome/_icons.scss */
.fa-play:before {
  content: "";
}

/* line 82, ../sass/components/fontawesome/_icons.scss */
.fa-pause:before {
  content: "";
}

/* line 83, ../sass/components/fontawesome/_icons.scss */
.fa-stop:before {
  content: "";
}

/* line 84, ../sass/components/fontawesome/_icons.scss */
.fa-forward:before {
  content: "";
}

/* line 85, ../sass/components/fontawesome/_icons.scss */
.fa-fast-forward:before {
  content: "";
}

/* line 86, ../sass/components/fontawesome/_icons.scss */
.fa-step-forward:before {
  content: "";
}

/* line 87, ../sass/components/fontawesome/_icons.scss */
.fa-eject:before {
  content: "";
}

/* line 88, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-left:before {
  content: "";
}

/* line 89, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 90, ../sass/components/fontawesome/_icons.scss */
.fa-plus-circle:before {
  content: "";
}

/* line 91, ../sass/components/fontawesome/_icons.scss */
.fa-minus-circle:before {
  content: "";
}

/* line 92, ../sass/components/fontawesome/_icons.scss */
.fa-times-circle:before {
  content: "";
}

/* line 93, ../sass/components/fontawesome/_icons.scss */
.fa-check-circle:before {
  content: "";
}

/* line 94, ../sass/components/fontawesome/_icons.scss */
.fa-question-circle:before {
  content: "";
}

/* line 95, ../sass/components/fontawesome/_icons.scss */
.fa-info-circle:before {
  content: "";
}

/* line 96, ../sass/components/fontawesome/_icons.scss */
.fa-crosshairs:before {
  content: "";
}

/* line 97, ../sass/components/fontawesome/_icons.scss */
.fa-times-circle-o:before {
  content: "";
}

/* line 98, ../sass/components/fontawesome/_icons.scss */
.fa-check-circle-o:before {
  content: "";
}

/* line 99, ../sass/components/fontawesome/_icons.scss */
.fa-ban:before {
  content: "";
}

/* line 100, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-left:before {
  content: "";
}

/* line 101, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-right:before {
  content: "";
}

/* line 102, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-up:before {
  content: "";
}

/* line 103, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-down:before {
  content: "";
}

/* line 104, ../sass/components/fontawesome/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

/* line 106, ../sass/components/fontawesome/_icons.scss */
.fa-expand:before {
  content: "";
}

/* line 107, ../sass/components/fontawesome/_icons.scss */
.fa-compress:before {
  content: "";
}

/* line 108, ../sass/components/fontawesome/_icons.scss */
.fa-plus:before {
  content: "";
}

/* line 109, ../sass/components/fontawesome/_icons.scss */
.fa-minus:before {
  content: "";
}

/* line 110, ../sass/components/fontawesome/_icons.scss */
.fa-asterisk:before {
  content: "";
}

/* line 111, ../sass/components/fontawesome/_icons.scss */
.fa-exclamation-circle:before {
  content: "";
}

/* line 112, ../sass/components/fontawesome/_icons.scss */
.fa-gift:before {
  content: "";
}

/* line 113, ../sass/components/fontawesome/_icons.scss */
.fa-leaf:before {
  content: "";
}

/* line 114, ../sass/components/fontawesome/_icons.scss */
.fa-fire:before {
  content: "";
}

/* line 115, ../sass/components/fontawesome/_icons.scss */
.fa-eye:before {
  content: "";
}

/* line 116, ../sass/components/fontawesome/_icons.scss */
.fa-eye-slash:before {
  content: "";
}

/* line 117, ../sass/components/fontawesome/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

/* line 119, ../sass/components/fontawesome/_icons.scss */
.fa-plane:before {
  content: "";
}

/* line 120, ../sass/components/fontawesome/_icons.scss */
.fa-calendar:before {
  content: "";
}

/* line 121, ../sass/components/fontawesome/_icons.scss */
.fa-random:before {
  content: "";
}

/* line 122, ../sass/components/fontawesome/_icons.scss */
.fa-comment:before {
  content: "";
}

/* line 123, ../sass/components/fontawesome/_icons.scss */
.fa-magnet:before {
  content: "";
}

/* line 124, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-up:before {
  content: "";
}

/* line 125, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-down:before {
  content: "";
}

/* line 126, ../sass/components/fontawesome/_icons.scss */
.fa-retweet:before {
  content: "";
}

/* line 127, ../sass/components/fontawesome/_icons.scss */
.fa-shopping-cart:before {
  content: "";
}

/* line 128, ../sass/components/fontawesome/_icons.scss */
.fa-folder:before {
  content: "";
}

/* line 129, ../sass/components/fontawesome/_icons.scss */
.fa-folder-open:before {
  content: "";
}

/* line 130, ../sass/components/fontawesome/_icons.scss */
.fa-arrows-v:before {
  content: "";
}

/* line 131, ../sass/components/fontawesome/_icons.scss */
.fa-arrows-h:before {
  content: "";
}

/* line 132, ../sass/components/fontawesome/_icons.scss */
.fa-bar-chart-o:before {
  content: "";
}

/* line 133, ../sass/components/fontawesome/_icons.scss */
.fa-twitter-square:before {
  content: "";
}

/* line 134, ../sass/components/fontawesome/_icons.scss */
.fa-facebook-square:before {
  content: "";
}

/* line 135, ../sass/components/fontawesome/_icons.scss */
.fa-camera-retro:before {
  content: "";
}

/* line 136, ../sass/components/fontawesome/_icons.scss */
.fa-key:before {
  content: "";
}

/* line 137, ../sass/components/fontawesome/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "";
}

/* line 139, ../sass/components/fontawesome/_icons.scss */
.fa-comments:before {
  content: "";
}

/* line 140, ../sass/components/fontawesome/_icons.scss */
.fa-thumbs-o-up:before {
  content: "";
}

/* line 141, ../sass/components/fontawesome/_icons.scss */
.fa-thumbs-o-down:before {
  content: "";
}

/* line 142, ../sass/components/fontawesome/_icons.scss */
.fa-star-half:before {
  content: "";
}

/* line 143, ../sass/components/fontawesome/_icons.scss */
.fa-heart-o:before {
  content: "";
}

/* line 144, ../sass/components/fontawesome/_icons.scss */
.fa-sign-out:before {
  content: "";
}

/* line 145, ../sass/components/fontawesome/_icons.scss */
.fa-linkedin-square:before {
  content: "";
}

/* line 146, ../sass/components/fontawesome/_icons.scss */
.fa-thumb-tack:before {
  content: "";
}

/* line 147, ../sass/components/fontawesome/_icons.scss */
.fa-external-link:before {
  content: "";
}

/* line 148, ../sass/components/fontawesome/_icons.scss */
.fa-sign-in:before {
  content: "";
}

/* line 149, ../sass/components/fontawesome/_icons.scss */
.fa-trophy:before {
  content: "";
}

/* line 150, ../sass/components/fontawesome/_icons.scss */
.fa-github-square:before {
  content: "";
}

/* line 151, ../sass/components/fontawesome/_icons.scss */
.fa-upload:before {
  content: "";
}

/* line 152, ../sass/components/fontawesome/_icons.scss */
.fa-lemon-o:before {
  content: "";
}

/* line 153, ../sass/components/fontawesome/_icons.scss */
.fa-phone:before {
  content: "";
}

/* line 154, ../sass/components/fontawesome/_icons.scss */
.fa-square-o:before {
  content: "";
}

/* line 155, ../sass/components/fontawesome/_icons.scss */
.fa-bookmark-o:before {
  content: "";
}

/* line 156, ../sass/components/fontawesome/_icons.scss */
.fa-phone-square:before {
  content: "";
}

/* line 157, ../sass/components/fontawesome/_icons.scss */
.fa-twitter:before {
  content: "";
}

/* line 158, ../sass/components/fontawesome/_icons.scss */
.fa-facebook:before {
  content: "";
}

/* line 159, ../sass/components/fontawesome/_icons.scss */
.fa-github:before {
  content: "";
}

/* line 160, ../sass/components/fontawesome/_icons.scss */
.fa-unlock:before {
  content: "";
}

/* line 161, ../sass/components/fontawesome/_icons.scss */
.fa-credit-card:before {
  content: "";
}

/* line 162, ../sass/components/fontawesome/_icons.scss */
.fa-rss:before {
  content: "";
}

/* line 163, ../sass/components/fontawesome/_icons.scss */
.fa-hdd-o:before {
  content: "";
}

/* line 164, ../sass/components/fontawesome/_icons.scss */
.fa-bullhorn:before {
  content: "";
}

/* line 165, ../sass/components/fontawesome/_icons.scss */
.fa-bell:before {
  content: "";
}

/* line 166, ../sass/components/fontawesome/_icons.scss */
.fa-certificate:before {
  content: "";
}

/* line 167, ../sass/components/fontawesome/_icons.scss */
.fa-hand-o-right:before {
  content: "";
}

/* line 168, ../sass/components/fontawesome/_icons.scss */
.fa-hand-o-left:before {
  content: "";
}

/* line 169, ../sass/components/fontawesome/_icons.scss */
.fa-hand-o-up:before {
  content: "";
}

/* line 170, ../sass/components/fontawesome/_icons.scss */
.fa-hand-o-down:before {
  content: "";
}

/* line 171, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-left:before {
  content: "";
}

/* line 172, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-right:before {
  content: "";
}

/* line 173, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-up:before {
  content: "";
}

/* line 174, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-down:before {
  content: "";
}

/* line 175, ../sass/components/fontawesome/_icons.scss */
.fa-globe:before {
  content: "";
}

/* line 176, ../sass/components/fontawesome/_icons.scss */
.fa-wrench:before {
  content: "";
}

/* line 177, ../sass/components/fontawesome/_icons.scss */
.fa-tasks:before {
  content: "";
}

/* line 178, ../sass/components/fontawesome/_icons.scss */
.fa-filter:before {
  content: "";
}

/* line 179, ../sass/components/fontawesome/_icons.scss */
.fa-briefcase:before {
  content: "";
}

/* line 180, ../sass/components/fontawesome/_icons.scss */
.fa-arrows-alt:before {
  content: "";
}

/* line 181, ../sass/components/fontawesome/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "";
}

/* line 183, ../sass/components/fontawesome/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "";
}

/* line 185, ../sass/components/fontawesome/_icons.scss */
.fa-cloud:before {
  content: "";
}

/* line 186, ../sass/components/fontawesome/_icons.scss */
.fa-flask:before {
  content: "";
}

/* line 187, ../sass/components/fontawesome/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "";
}

/* line 189, ../sass/components/fontawesome/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "";
}

/* line 191, ../sass/components/fontawesome/_icons.scss */
.fa-paperclip:before {
  content: "";
}

/* line 192, ../sass/components/fontawesome/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

/* line 194, ../sass/components/fontawesome/_icons.scss */
.fa-square:before {
  content: "";
}

/* line 195, ../sass/components/fontawesome/_icons.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

/* line 198, ../sass/components/fontawesome/_icons.scss */
.fa-list-ul:before {
  content: "";
}

/* line 199, ../sass/components/fontawesome/_icons.scss */
.fa-list-ol:before {
  content: "";
}

/* line 200, ../sass/components/fontawesome/_icons.scss */
.fa-strikethrough:before {
  content: "";
}

/* line 201, ../sass/components/fontawesome/_icons.scss */
.fa-underline:before {
  content: "";
}

/* line 202, ../sass/components/fontawesome/_icons.scss */
.fa-table:before {
  content: "";
}

/* line 203, ../sass/components/fontawesome/_icons.scss */
.fa-magic:before {
  content: "";
}

/* line 204, ../sass/components/fontawesome/_icons.scss */
.fa-truck:before {
  content: "";
}

/* line 205, ../sass/components/fontawesome/_icons.scss */
.fa-pinterest:before {
  content: "";
}

/* line 206, ../sass/components/fontawesome/_icons.scss */
.fa-pinterest-square:before {
  content: "";
}

/* line 207, ../sass/components/fontawesome/_icons.scss */
.fa-google-plus-square:before {
  content: "";
}

/* line 208, ../sass/components/fontawesome/_icons.scss */
.fa-google-plus:before {
  content: "";
}

/* line 209, ../sass/components/fontawesome/_icons.scss */
.fa-money:before {
  content: "";
}

/* line 210, ../sass/components/fontawesome/_icons.scss */
.fa-caret-down:before {
  content: "";
}

/* line 211, ../sass/components/fontawesome/_icons.scss */
.fa-caret-up:before {
  content: "";
}

/* line 212, ../sass/components/fontawesome/_icons.scss */
.fa-caret-left:before {
  content: "";
}

/* line 213, ../sass/components/fontawesome/_icons.scss */
.fa-caret-right:before {
  content: "";
}

/* line 214, ../sass/components/fontawesome/_icons.scss */
.fa-columns:before {
  content: "";
}

/* line 215, ../sass/components/fontawesome/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

/* line 217, ../sass/components/fontawesome/_icons.scss */
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

/* line 219, ../sass/components/fontawesome/_icons.scss */
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

/* line 221, ../sass/components/fontawesome/_icons.scss */
.fa-envelope:before {
  content: "";
}

/* line 222, ../sass/components/fontawesome/_icons.scss */
.fa-linkedin:before {
  content: "";
}

/* line 223, ../sass/components/fontawesome/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

/* line 225, ../sass/components/fontawesome/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "";
}

/* line 227, ../sass/components/fontawesome/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

/* line 229, ../sass/components/fontawesome/_icons.scss */
.fa-comment-o:before {
  content: "";
}

/* line 230, ../sass/components/fontawesome/_icons.scss */
.fa-comments-o:before {
  content: "";
}

/* line 231, ../sass/components/fontawesome/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "";
}

/* line 233, ../sass/components/fontawesome/_icons.scss */
.fa-sitemap:before {
  content: "";
}

/* line 234, ../sass/components/fontawesome/_icons.scss */
.fa-umbrella:before {
  content: "";
}

/* line 235, ../sass/components/fontawesome/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

/* line 237, ../sass/components/fontawesome/_icons.scss */
.fa-lightbulb-o:before {
  content: "";
}

/* line 238, ../sass/components/fontawesome/_icons.scss */
.fa-exchange:before {
  content: "";
}

/* line 239, ../sass/components/fontawesome/_icons.scss */
.fa-cloud-download:before {
  content: "";
}

/* line 240, ../sass/components/fontawesome/_icons.scss */
.fa-cloud-upload:before {
  content: "";
}

/* line 241, ../sass/components/fontawesome/_icons.scss */
.fa-user-md:before {
  content: "";
}

/* line 242, ../sass/components/fontawesome/_icons.scss */
.fa-stethoscope:before {
  content: "";
}

/* line 243, ../sass/components/fontawesome/_icons.scss */
.fa-suitcase:before {
  content: "";
}

/* line 244, ../sass/components/fontawesome/_icons.scss */
.fa-bell-o:before {
  content: "";
}

/* line 245, ../sass/components/fontawesome/_icons.scss */
.fa-coffee:before {
  content: "";
}

/* line 246, ../sass/components/fontawesome/_icons.scss */
.fa-cutlery:before {
  content: "";
}

/* line 247, ../sass/components/fontawesome/_icons.scss */
.fa-file-text-o:before {
  content: "";
}

/* line 248, ../sass/components/fontawesome/_icons.scss */
.fa-building-o:before {
  content: "";
}

/* line 249, ../sass/components/fontawesome/_icons.scss */
.fa-hospital-o:before {
  content: "";
}

/* line 250, ../sass/components/fontawesome/_icons.scss */
.fa-ambulance:before {
  content: "";
}

/* line 251, ../sass/components/fontawesome/_icons.scss */
.fa-medkit:before {
  content: "";
}

/* line 252, ../sass/components/fontawesome/_icons.scss */
.fa-fighter-jet:before {
  content: "";
}

/* line 253, ../sass/components/fontawesome/_icons.scss */
.fa-beer:before {
  content: "";
}

/* line 254, ../sass/components/fontawesome/_icons.scss */
.fa-h-square:before {
  content: "";
}

/* line 255, ../sass/components/fontawesome/_icons.scss */
.fa-plus-square:before {
  content: "";
}

/* line 256, ../sass/components/fontawesome/_icons.scss */
.fa-angle-double-left:before {
  content: "";
}

/* line 257, ../sass/components/fontawesome/_icons.scss */
.fa-angle-double-right:before {
  content: "";
}

/* line 258, ../sass/components/fontawesome/_icons.scss */
.fa-angle-double-up:before {
  content: "";
}

/* line 259, ../sass/components/fontawesome/_icons.scss */
.fa-angle-double-down:before {
  content: "";
}

/* line 260, ../sass/components/fontawesome/_icons.scss */
.fa-angle-left:before {
  content: "";
}

/* line 261, ../sass/components/fontawesome/_icons.scss */
.fa-angle-right:before {
  content: "";
}

/* line 262, ../sass/components/fontawesome/_icons.scss */
.fa-angle-up:before {
  content: "";
}

/* line 263, ../sass/components/fontawesome/_icons.scss */
.fa-angle-down:before {
  content: "";
}

/* line 264, ../sass/components/fontawesome/_icons.scss */
.fa-desktop:before {
  content: "";
}

/* line 265, ../sass/components/fontawesome/_icons.scss */
.fa-laptop:before {
  content: "";
}

/* line 266, ../sass/components/fontawesome/_icons.scss */
.fa-tablet:before {
  content: "";
}

/* line 267, ../sass/components/fontawesome/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

/* line 269, ../sass/components/fontawesome/_icons.scss */
.fa-circle-o:before {
  content: "";
}

/* line 270, ../sass/components/fontawesome/_icons.scss */
.fa-quote-left:before {
  content: "";
}

/* line 271, ../sass/components/fontawesome/_icons.scss */
.fa-quote-right:before {
  content: "";
}

/* line 272, ../sass/components/fontawesome/_icons.scss */
.fa-spinner:before {
  content: "";
}

/* line 273, ../sass/components/fontawesome/_icons.scss */
.fa-circle:before {
  content: "";
}

/* line 274, ../sass/components/fontawesome/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

/* line 276, ../sass/components/fontawesome/_icons.scss */
.fa-github-alt:before {
  content: "";
}

/* line 277, ../sass/components/fontawesome/_icons.scss */
.fa-folder-o:before {
  content: "";
}

/* line 278, ../sass/components/fontawesome/_icons.scss */
.fa-folder-open-o:before {
  content: "";
}

/* line 279, ../sass/components/fontawesome/_icons.scss */
.fa-smile-o:before {
  content: "";
}

/* line 280, ../sass/components/fontawesome/_icons.scss */
.fa-frown-o:before {
  content: "";
}

/* line 281, ../sass/components/fontawesome/_icons.scss */
.fa-meh-o:before {
  content: "";
}

/* line 282, ../sass/components/fontawesome/_icons.scss */
.fa-gamepad:before {
  content: "";
}

/* line 283, ../sass/components/fontawesome/_icons.scss */
.fa-keyboard-o:before {
  content: "";
}

/* line 284, ../sass/components/fontawesome/_icons.scss */
.fa-flag-o:before {
  content: "";
}

/* line 285, ../sass/components/fontawesome/_icons.scss */
.fa-flag-checkered:before {
  content: "";
}

/* line 286, ../sass/components/fontawesome/_icons.scss */
.fa-terminal:before {
  content: "";
}

/* line 287, ../sass/components/fontawesome/_icons.scss */
.fa-code:before {
  content: "";
}

/* line 288, ../sass/components/fontawesome/_icons.scss */
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

/* line 290, ../sass/components/fontawesome/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

/* line 293, ../sass/components/fontawesome/_icons.scss */
.fa-location-arrow:before {
  content: "";
}

/* line 294, ../sass/components/fontawesome/_icons.scss */
.fa-crop:before {
  content: "";
}

/* line 295, ../sass/components/fontawesome/_icons.scss */
.fa-code-fork:before {
  content: "";
}

/* line 296, ../sass/components/fontawesome/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

/* line 298, ../sass/components/fontawesome/_icons.scss */
.fa-question:before {
  content: "";
}

/* line 299, ../sass/components/fontawesome/_icons.scss */
.fa-info:before {
  content: "";
}

/* line 300, ../sass/components/fontawesome/_icons.scss */
.fa-exclamation:before {
  content: "";
}

/* line 301, ../sass/components/fontawesome/_icons.scss */
.fa-superscript:before {
  content: "";
}

/* line 302, ../sass/components/fontawesome/_icons.scss */
.fa-subscript:before {
  content: "";
}

/* line 303, ../sass/components/fontawesome/_icons.scss */
.fa-eraser:before {
  content: "";
}

/* line 304, ../sass/components/fontawesome/_icons.scss */
.fa-puzzle-piece:before {
  content: "";
}

/* line 305, ../sass/components/fontawesome/_icons.scss */
.fa-microphone:before {
  content: "";
}

/* line 306, ../sass/components/fontawesome/_icons.scss */
.fa-microphone-slash:before {
  content: "";
}

/* line 307, ../sass/components/fontawesome/_icons.scss */
.fa-shield:before {
  content: "";
}

/* line 308, ../sass/components/fontawesome/_icons.scss */
.fa-calendar-o:before {
  content: "";
}

/* line 309, ../sass/components/fontawesome/_icons.scss */
.fa-fire-extinguisher:before {
  content: "";
}

/* line 310, ../sass/components/fontawesome/_icons.scss */
.fa-rocket:before {
  content: "";
}

/* line 311, ../sass/components/fontawesome/_icons.scss */
.fa-maxcdn:before {
  content: "";
}

/* line 312, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-circle-left:before {
  content: "";
}

/* line 313, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-circle-right:before {
  content: "";
}

/* line 314, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-circle-up:before {
  content: "";
}

/* line 315, ../sass/components/fontawesome/_icons.scss */
.fa-chevron-circle-down:before {
  content: "";
}

/* line 316, ../sass/components/fontawesome/_icons.scss */
.fa-html5:before {
  content: "";
}

/* line 317, ../sass/components/fontawesome/_icons.scss */
.fa-css3:before {
  content: "";
}

/* line 318, ../sass/components/fontawesome/_icons.scss */
.fa-anchor:before {
  content: "";
}

/* line 319, ../sass/components/fontawesome/_icons.scss */
.fa-unlock-alt:before {
  content: "";
}

/* line 320, ../sass/components/fontawesome/_icons.scss */
.fa-bullseye:before {
  content: "";
}

/* line 321, ../sass/components/fontawesome/_icons.scss */
.fa-ellipsis-h:before {
  content: "";
}

/* line 322, ../sass/components/fontawesome/_icons.scss */
.fa-ellipsis-v:before {
  content: "";
}

/* line 323, ../sass/components/fontawesome/_icons.scss */
.fa-rss-square:before {
  content: "";
}

/* line 324, ../sass/components/fontawesome/_icons.scss */
.fa-play-circle:before {
  content: "";
}

/* line 325, ../sass/components/fontawesome/_icons.scss */
.fa-ticket:before {
  content: "";
}

/* line 326, ../sass/components/fontawesome/_icons.scss */
.fa-minus-square:before {
  content: "";
}

/* line 327, ../sass/components/fontawesome/_icons.scss */
.fa-minus-square-o:before {
  content: "";
}

/* line 328, ../sass/components/fontawesome/_icons.scss */
.fa-level-up:before {
  content: "";
}

/* line 329, ../sass/components/fontawesome/_icons.scss */
.fa-level-down:before {
  content: "";
}

/* line 330, ../sass/components/fontawesome/_icons.scss */
.fa-check-square:before {
  content: "";
}

/* line 331, ../sass/components/fontawesome/_icons.scss */
.fa-pencil-square:before {
  content: "";
}

/* line 332, ../sass/components/fontawesome/_icons.scss */
.fa-external-link-square:before {
  content: "";
}

/* line 333, ../sass/components/fontawesome/_icons.scss */
.fa-share-square:before {
  content: "";
}

/* line 334, ../sass/components/fontawesome/_icons.scss */
.fa-compass:before {
  content: "";
}

/* line 335, ../sass/components/fontawesome/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

/* line 337, ../sass/components/fontawesome/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

/* line 339, ../sass/components/fontawesome/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

/* line 341, ../sass/components/fontawesome/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "";
}

/* line 343, ../sass/components/fontawesome/_icons.scss */
.fa-gbp:before {
  content: "";
}

/* line 344, ../sass/components/fontawesome/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "";
}

/* line 346, ../sass/components/fontawesome/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "";
}

/* line 348, ../sass/components/fontawesome/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

/* line 352, ../sass/components/fontawesome/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

/* line 355, ../sass/components/fontawesome/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "";
}

/* line 357, ../sass/components/fontawesome/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

/* line 359, ../sass/components/fontawesome/_icons.scss */
.fa-file:before {
  content: "";
}

/* line 360, ../sass/components/fontawesome/_icons.scss */
.fa-file-text:before {
  content: "";
}

/* line 361, ../sass/components/fontawesome/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "";
}

/* line 362, ../sass/components/fontawesome/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "";
}

/* line 363, ../sass/components/fontawesome/_icons.scss */
.fa-sort-amount-asc:before {
  content: "";
}

/* line 364, ../sass/components/fontawesome/_icons.scss */
.fa-sort-amount-desc:before {
  content: "";
}

/* line 365, ../sass/components/fontawesome/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "";
}

/* line 366, ../sass/components/fontawesome/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "";
}

/* line 367, ../sass/components/fontawesome/_icons.scss */
.fa-thumbs-up:before {
  content: "";
}

/* line 368, ../sass/components/fontawesome/_icons.scss */
.fa-thumbs-down:before {
  content: "";
}

/* line 369, ../sass/components/fontawesome/_icons.scss */
.fa-youtube-square:before {
  content: "";
}

/* line 370, ../sass/components/fontawesome/_icons.scss */
.fa-youtube:before {
  content: "";
}

/* line 371, ../sass/components/fontawesome/_icons.scss */
.fa-xing:before {
  content: "";
}

/* line 372, ../sass/components/fontawesome/_icons.scss */
.fa-xing-square:before {
  content: "";
}

/* line 373, ../sass/components/fontawesome/_icons.scss */
.fa-youtube-play:before {
  content: "";
}

/* line 374, ../sass/components/fontawesome/_icons.scss */
.fa-dropbox:before {
  content: "";
}

/* line 375, ../sass/components/fontawesome/_icons.scss */
.fa-stack-overflow:before {
  content: "";
}

/* line 376, ../sass/components/fontawesome/_icons.scss */
.fa-instagram:before {
  content: "";
}

/* line 377, ../sass/components/fontawesome/_icons.scss */
.fa-flickr:before {
  content: "";
}

/* line 378, ../sass/components/fontawesome/_icons.scss */
.fa-adn:before {
  content: "";
}

/* line 379, ../sass/components/fontawesome/_icons.scss */
.fa-bitbucket:before {
  content: "";
}

/* line 380, ../sass/components/fontawesome/_icons.scss */
.fa-bitbucket-square:before {
  content: "";
}

/* line 381, ../sass/components/fontawesome/_icons.scss */
.fa-tumblr:before {
  content: "";
}

/* line 382, ../sass/components/fontawesome/_icons.scss */
.fa-tumblr-square:before {
  content: "";
}

/* line 383, ../sass/components/fontawesome/_icons.scss */
.fa-long-arrow-down:before {
  content: "";
}

/* line 384, ../sass/components/fontawesome/_icons.scss */
.fa-long-arrow-up:before {
  content: "";
}

/* line 385, ../sass/components/fontawesome/_icons.scss */
.fa-long-arrow-left:before {
  content: "";
}

/* line 386, ../sass/components/fontawesome/_icons.scss */
.fa-long-arrow-right:before {
  content: "";
}

/* line 387, ../sass/components/fontawesome/_icons.scss */
.fa-apple:before {
  content: "";
}

/* line 388, ../sass/components/fontawesome/_icons.scss */
.fa-windows:before {
  content: "";
}

/* line 389, ../sass/components/fontawesome/_icons.scss */
.fa-android:before {
  content: "";
}

/* line 390, ../sass/components/fontawesome/_icons.scss */
.fa-linux:before {
  content: "";
}

/* line 391, ../sass/components/fontawesome/_icons.scss */
.fa-dribbble:before {
  content: "";
}

/* line 392, ../sass/components/fontawesome/_icons.scss */
.fa-skype:before {
  content: "";
}

/* line 393, ../sass/components/fontawesome/_icons.scss */
.fa-foursquare:before {
  content: "";
}

/* line 394, ../sass/components/fontawesome/_icons.scss */
.fa-trello:before {
  content: "";
}

/* line 395, ../sass/components/fontawesome/_icons.scss */
.fa-female:before {
  content: "";
}

/* line 396, ../sass/components/fontawesome/_icons.scss */
.fa-male:before {
  content: "";
}

/* line 397, ../sass/components/fontawesome/_icons.scss */
.fa-gittip:before {
  content: "";
}

/* line 398, ../sass/components/fontawesome/_icons.scss */
.fa-sun-o:before {
  content: "";
}

/* line 399, ../sass/components/fontawesome/_icons.scss */
.fa-moon-o:before {
  content: "";
}

/* line 400, ../sass/components/fontawesome/_icons.scss */
.fa-archive:before {
  content: "";
}

/* line 401, ../sass/components/fontawesome/_icons.scss */
.fa-bug:before {
  content: "";
}

/* line 402, ../sass/components/fontawesome/_icons.scss */
.fa-vk:before {
  content: "";
}

/* line 403, ../sass/components/fontawesome/_icons.scss */
.fa-weibo:before {
  content: "";
}

/* line 404, ../sass/components/fontawesome/_icons.scss */
.fa-renren:before {
  content: "";
}

/* line 405, ../sass/components/fontawesome/_icons.scss */
.fa-pagelines:before {
  content: "";
}

/* line 406, ../sass/components/fontawesome/_icons.scss */
.fa-stack-exchange:before {
  content: "";
}

/* line 407, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "";
}

/* line 408, ../sass/components/fontawesome/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "";
}

/* line 409, ../sass/components/fontawesome/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

/* line 411, ../sass/components/fontawesome/_icons.scss */
.fa-dot-circle-o:before {
  content: "";
}

/* line 412, ../sass/components/fontawesome/_icons.scss */
.fa-wheelchair:before {
  content: "";
}

/* line 413, ../sass/components/fontawesome/_icons.scss */
.fa-vimeo-square:before {
  content: "";
}

/* line 414, ../sass/components/fontawesome/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

/* line 416, ../sass/components/fontawesome/_icons.scss */
.fa-plus-square-o:before {
  content: "";
}

/* line 417, ../sass/components/fontawesome/_icons.scss */
.fa-space-shuttle:before {
  content: "";
}

/* line 418, ../sass/components/fontawesome/_icons.scss */
.fa-slack:before {
  content: "";
}

/* line 419, ../sass/components/fontawesome/_icons.scss */
.fa-envelope-square:before {
  content: "";
}

/* line 420, ../sass/components/fontawesome/_icons.scss */
.fa-wordpress:before {
  content: "";
}

/* line 421, ../sass/components/fontawesome/_icons.scss */
.fa-openid:before {
  content: "";
}

/* line 422, ../sass/components/fontawesome/_icons.scss */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

/* line 425, ../sass/components/fontawesome/_icons.scss */
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

/* line 427, ../sass/components/fontawesome/_icons.scss */
.fa-yahoo:before {
  content: "";
}

/* line 428, ../sass/components/fontawesome/_icons.scss */
.fa-google:before {
  content: "";
}

/* line 429, ../sass/components/fontawesome/_icons.scss */
.fa-reddit:before {
  content: "";
}

/* line 430, ../sass/components/fontawesome/_icons.scss */
.fa-reddit-square:before {
  content: "";
}

/* line 431, ../sass/components/fontawesome/_icons.scss */
.fa-stumbleupon-circle:before {
  content: "";
}

/* line 432, ../sass/components/fontawesome/_icons.scss */
.fa-stumbleupon:before {
  content: "";
}

/* line 433, ../sass/components/fontawesome/_icons.scss */
.fa-delicious:before {
  content: "";
}

/* line 434, ../sass/components/fontawesome/_icons.scss */
.fa-digg:before {
  content: "";
}

/* line 435, ../sass/components/fontawesome/_icons.scss */
.fa-pied-piper-square:before,
.fa-pied-piper:before {
  content: "";
}

/* line 437, ../sass/components/fontawesome/_icons.scss */
.fa-pied-piper-alt:before {
  content: "";
}

/* line 438, ../sass/components/fontawesome/_icons.scss */
.fa-drupal:before {
  content: "";
}

/* line 439, ../sass/components/fontawesome/_icons.scss */
.fa-joomla:before {
  content: "";
}

/* line 440, ../sass/components/fontawesome/_icons.scss */
.fa-language:before {
  content: "";
}

/* line 441, ../sass/components/fontawesome/_icons.scss */
.fa-fax:before {
  content: "";
}

/* line 442, ../sass/components/fontawesome/_icons.scss */
.fa-building:before {
  content: "";
}

/* line 443, ../sass/components/fontawesome/_icons.scss */
.fa-child:before {
  content: "";
}

/* line 444, ../sass/components/fontawesome/_icons.scss */
.fa-paw:before {
  content: "";
}

/* line 445, ../sass/components/fontawesome/_icons.scss */
.fa-spoon:before {
  content: "";
}

/* line 446, ../sass/components/fontawesome/_icons.scss */
.fa-cube:before {
  content: "";
}

/* line 447, ../sass/components/fontawesome/_icons.scss */
.fa-cubes:before {
  content: "";
}

/* line 448, ../sass/components/fontawesome/_icons.scss */
.fa-behance:before {
  content: "";
}

/* line 449, ../sass/components/fontawesome/_icons.scss */
.fa-behance-square:before {
  content: "";
}

/* line 450, ../sass/components/fontawesome/_icons.scss */
.fa-steam:before {
  content: "";
}

/* line 451, ../sass/components/fontawesome/_icons.scss */
.fa-steam-square:before {
  content: "";
}

/* line 452, ../sass/components/fontawesome/_icons.scss */
.fa-recycle:before {
  content: "";
}

/* line 453, ../sass/components/fontawesome/_icons.scss */
.fa-automobile:before,
.fa-car:before {
  content: "";
}

/* line 455, ../sass/components/fontawesome/_icons.scss */
.fa-cab:before,
.fa-taxi:before {
  content: "";
}

/* line 457, ../sass/components/fontawesome/_icons.scss */
.fa-tree:before {
  content: "";
}

/* line 458, ../sass/components/fontawesome/_icons.scss */
.fa-spotify:before {
  content: "";
}

/* line 459, ../sass/components/fontawesome/_icons.scss */
.fa-deviantart:before {
  content: "";
}

/* line 460, ../sass/components/fontawesome/_icons.scss */
.fa-soundcloud:before {
  content: "";
}

/* line 461, ../sass/components/fontawesome/_icons.scss */
.fa-database:before {
  content: "";
}

/* line 462, ../sass/components/fontawesome/_icons.scss */
.fa-file-pdf-o:before {
  content: "";
}

/* line 463, ../sass/components/fontawesome/_icons.scss */
.fa-file-word-o:before {
  content: "";
}

/* line 464, ../sass/components/fontawesome/_icons.scss */
.fa-file-excel-o:before {
  content: "";
}

/* line 465, ../sass/components/fontawesome/_icons.scss */
.fa-file-powerpoint-o:before {
  content: "";
}

/* line 466, ../sass/components/fontawesome/_icons.scss */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

/* line 469, ../sass/components/fontawesome/_icons.scss */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

/* line 471, ../sass/components/fontawesome/_icons.scss */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

/* line 473, ../sass/components/fontawesome/_icons.scss */
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

/* line 475, ../sass/components/fontawesome/_icons.scss */
.fa-file-code-o:before {
  content: "";
}

/* line 476, ../sass/components/fontawesome/_icons.scss */
.fa-vine:before {
  content: "";
}

/* line 477, ../sass/components/fontawesome/_icons.scss */
.fa-codepen:before {
  content: "";
}

/* line 478, ../sass/components/fontawesome/_icons.scss */
.fa-jsfiddle:before {
  content: "";
}

/* line 479, ../sass/components/fontawesome/_icons.scss */
.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

/* line 483, ../sass/components/fontawesome/_icons.scss */
.fa-circle-o-notch:before {
  content: "";
}

/* line 484, ../sass/components/fontawesome/_icons.scss */
.fa-ra:before,
.fa-rebel:before {
  content: "";
}

/* line 486, ../sass/components/fontawesome/_icons.scss */
.fa-ge:before,
.fa-empire:before {
  content: "";
}

/* line 488, ../sass/components/fontawesome/_icons.scss */
.fa-git-square:before {
  content: "";
}

/* line 489, ../sass/components/fontawesome/_icons.scss */
.fa-git:before {
  content: "";
}

/* line 490, ../sass/components/fontawesome/_icons.scss */
.fa-hacker-news:before {
  content: "";
}

/* line 491, ../sass/components/fontawesome/_icons.scss */
.fa-tencent-weibo:before {
  content: "";
}

/* line 492, ../sass/components/fontawesome/_icons.scss */
.fa-qq:before {
  content: "";
}

/* line 493, ../sass/components/fontawesome/_icons.scss */
.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

/* line 495, ../sass/components/fontawesome/_icons.scss */
.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

/* line 497, ../sass/components/fontawesome/_icons.scss */
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

/* line 499, ../sass/components/fontawesome/_icons.scss */
.fa-history:before {
  content: "";
}

/* line 500, ../sass/components/fontawesome/_icons.scss */
.fa-circle-thin:before {
  content: "";
}

/* line 501, ../sass/components/fontawesome/_icons.scss */
.fa-header:before {
  content: "";
}

/* line 502, ../sass/components/fontawesome/_icons.scss */
.fa-paragraph:before {
  content: "";
}

/* line 503, ../sass/components/fontawesome/_icons.scss */
.fa-sliders:before {
  content: "";
}

/* line 504, ../sass/components/fontawesome/_icons.scss */
.fa-share-alt:before {
  content: "";
}

/* line 505, ../sass/components/fontawesome/_icons.scss */
.fa-share-alt-square:before {
  content: "";
}

/* line 506, ../sass/components/fontawesome/_icons.scss */
.fa-bomb:before {
  content: "";
}

/*
==========================================================================
Project CSS
==========================================================================
*/
/* line 7, ../sass/project/_page.scss */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: #2d2d2d;
  padding: 40px;
}

/* line 14, ../sass/project/_page.scss */
h1 {
  color: #FFFFFF;
}

/* line 18, ../sass/project/_page.scss */
.wrapper {
  border: 5px solid #343232;
  padding: 0 0 30px 0;
}

/* line 24, ../sass/project/_page.scss */
.intro h1 {
  color: #848182;
  font-size: 42px;
}
/* line 29, ../sass/project/_page.scss */
.intro p {
  color: #848182;
}

/* line 34, ../sass/project/_page.scss */
h2 {
  color: #848182;
}

/* line 38, ../sass/project/_page.scss */
a {
  color: #848182;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}
/* line 44, ../sass/project/_page.scss */
a:hover {
  color: #FFFFFF;
}

/* line 49, ../sass/project/_page.scss */
ul {
  color: #848182;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 56, ../sass/project/_page.scss */
.codeblock {
  background: #222;
  color: #FFF;
  font-size: 12px;
  padding: 20px;
  font-family: arial;
  margin-bottom: 30px;
}

/* line 1, ../sass/project/_effects.scss */
figure {
  width: 100%;
  background: #353743;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /*
  ==========================================================================
  Start style
  ==========================================================================
  */
  /*
  ==========================================================================
  Keyframe animations
  ==========================================================================
  */
  /* Chrome, Safari, Opera */
  /* Standard syntax */
  /* Chrome, Safari, Opera */
  /* Standard syntax */
  /*
  ==========================================================================
  On hover
  ==========================================================================
  */
}
/* line 9, ../sass/project/_effects.scss */
figure img {
  width: 100%;
  z-index: 1000;
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 35, ../sass/project/_effects.scss */
figure.radial {
  background: white;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MiUiIHN0b3AtY29sb3I9IiM0MDQ3NGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-radial-gradient(center, ellipse cover, white 0%, #40474f 62%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(62%, #40474f));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #40474f 62%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 0%, #40474f 62%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 0%, #40474f 62%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #40474f 62%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#40474f',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}
/* line 49, ../sass/project/_effects.scss */
figure.shrink img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 56, ../sass/project/_effects.scss */
figure.border figcaption {
  margin: 0 20px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 64, ../sass/project/_effects.scss */
figure.borderTop figcaption {
  margin: 0 20px;
  border: 1px solid #FFFFFF;
  top: -200px;
}
/* line 72, ../sass/project/_effects.scss */
figure.borderSlideLeft figcaption {
  top: 20px;
  left: 20px;
  padding: 0 20px 0 0;
  text-align: left;
}
/* line 78, ../sass/project/_effects.scss */
figure.borderSlideLeft figcaption h2 {
  position: relative;
}
/* line 81, ../sass/project/_effects.scss */
figure.borderSlideLeft figcaption h2:after {
  content: ' ';
  height: 5px;
  width: 0px;
  display: block;
  background: #FFFFFF;
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}
/* line 96, ../sass/project/_effects.scss */
figure.borderSlideLeft figcaption p {
  padding-top: 20px;
}
/* line 103, ../sass/project/_effects.scss */
figure.borderSlideRight figcaption {
  top: 20px;
  right: 20px;
  padding: 0 0 0 20px;
  text-align: right;
}
/* line 109, ../sass/project/_effects.scss */
figure.borderSlideRight figcaption h2 {
  position: relative;
}
/* line 112, ../sass/project/_effects.scss */
figure.borderSlideRight figcaption h2:after {
  content: ' ';
  height: 5px;
  width: 0px;
  display: block;
  background: #FFFFFF;
  position: absolute;
  bottom: -20px;
  right: 0;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}
/* line 127, ../sass/project/_effects.scss */
figure.borderSlideRight figcaption p {
  padding-top: 20px;
}
/* line 134, ../sass/project/_effects.scss */
figure.borderOne figcaption {
  margin: 0 20px;
  padding-left: 35px;
  padding-right: 35px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 142, ../sass/project/_effects.scss */
figure.borderOne figcaption:before, figure.borderOne figcaption:after {
  content: ' ';
  position: absolute;
  display: block;
  background: #FFFFFF;
  width: 1px;
  height: 1px;
  left: 30px;
  bottom: -10%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 157, ../sass/project/_effects.scss */
figure.borderOne figcaption:after {
  right: 30px;
  left: auto;
  top: -10%;
}
/* line 166, ../sass/project/_effects.scss */
figure.borderTwo figcaption {
  margin: 0 20px;
  padding-left: 35px;
  padding-right: 35px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 174, ../sass/project/_effects.scss */
figure.borderTwo figcaption:before, figure.borderTwo figcaption:after {
  content: ' ';
  position: absolute;
  display: block;
  background: #FFFFFF;
  width: 1px;
  height: 1px;
  right: 30px;
  bottom: -10%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 189, ../sass/project/_effects.scss */
figure.borderTwo figcaption:after {
  left: 30px;
  top: -10%;
}
/* line 198, ../sass/project/_effects.scss */
figure.slideTitleTop figcaption {
  top: 0;
  height: 90%;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 205, ../sass/project/_effects.scss */
figure.slideTitleTop figcaption h2 {
  border: 1px solid #FFFFFF;
  position: absolute;
  top: -16%;
  left: 15px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  color: #FFFFFF;
  padding: 2% 0;
  font-weight: bold;
  display: block;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 222, ../sass/project/_effects.scss */
figure.slideTitleTop figcaption p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 230, ../sass/project/_effects.scss */
figure.slideTitleTop img {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 238, ../sass/project/_effects.scss */
figure.slideTitleBottom figcaption {
  bottom: 0;
  height: 100%;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 245, ../sass/project/_effects.scss */
figure.slideTitleBottom figcaption h2 {
  border: 1px solid #FFFFFF;
  position: absolute;
  bottom: -16%;
  left: 15px;
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  color: #FFFFFF;
  padding: 2% 0;
  font-weight: bold;
  display: block;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 262, ../sass/project/_effects.scss */
figure.slideTitleBottom figcaption p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}
/* line 270, ../sass/project/_effects.scss */
figure.slideTitleBottom img {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}
/* line 282, ../sass/project/_effects.scss */
figure.zoomOutIn img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 288, ../sass/project/_effects.scss */
figure.zoomborder {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
/* line 295, ../sass/project/_effects.scss */
figure.zoomborder figcaption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 35px;
  padding-right: 35px;
}
@-webkit-keyframes zoominout {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes zoominout {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes zoomoutin {
  0% {
    -webkit-transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}
@keyframes zoomoutin {
  0% {
    -webkit-transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}
/* line 343, ../sass/project/_effects.scss */
figure:hover {
  /*
  ==========================================================================
  Different types
  1. Default
  2. Radial
  3. Grow
  4. Shrink
  5. Border
  6. Border slide
  7. Title border slide left
  8. Title border slide right
  9. Fancy border animation
  10. Fancy border animation (border move opposite direction)
  11. Slide border title from top
  12. Slide border title from bottom
  13. Zoom in and out
  14. Zoom out and in
  ==========================================================================
  */
  /*
  ==========================================================================
  1. Default view
  ==========================================================================
  */
  /*
  ==========================================================================
  2. Radial hover effect over the image
  ==========================================================================
  */
  /*
  ==========================================================================
  3. Let the image grow
  ==========================================================================
  */
  /*
  ==========================================================================
  4. Let the image shrink
  ==========================================================================
  */
  /*
  ==========================================================================
  5. Fade in with a border
  ==========================================================================
  */
  /*
  ==========================================================================
  6. Fade in with a border slide from top
  ==========================================================================
  */
  /*
  ==========================================================================
  7. Title bottom border slides from the left
  ==========================================================================
  */
  /*
  ==========================================================================
  8. Title bottom border slides from the right
  ==========================================================================
  */
  /*
  ==========================================================================
  9. Fancy border One - left and right borders slide in
  ==========================================================================
  */
  /*
  ==========================================================================
  10. Fancy border Two - left and right borders slide in
  ==========================================================================
  */
  /*
  ==========================================================================
  11. Slide title from top - fade in info
  ==========================================================================
  */
  /*
  ==========================================================================
  12. Slide title from bottom - fade in info
  ==========================================================================
  */
  /*
  ==========================================================================
  13. Zoom in and out effect
  ==========================================================================
  */
  /*
  ==========================================================================
  14. Zoom out and in effect
  ==========================================================================
  */
  /*
  ==========================================================================
  15. Zoom out and border
  ==========================================================================
  */
}
/* line 344, ../sass/project/_effects.scss */
figure:hover img {
  opacity: .5;
}
/* line 374, ../sass/project/_effects.scss */
figure:hover.default figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 387, ../sass/project/_effects.scss */
figure:hover.radial img {
  opacity: .6;
}
/* line 391, ../sass/project/_effects.scss */
figure:hover.radial figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 404, ../sass/project/_effects.scss */
figure:hover.grow img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 409, ../sass/project/_effects.scss */
figure:hover.grow figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 422, ../sass/project/_effects.scss */
figure:hover.shrink img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 427, ../sass/project/_effects.scss */
figure:hover.shrink figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 440, ../sass/project/_effects.scss */
figure:hover.border img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 445, ../sass/project/_effects.scss */
figure:hover.border figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 458, ../sass/project/_effects.scss */
figure:hover.borderTop img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 463, ../sass/project/_effects.scss */
figure:hover.borderTop figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 476, ../sass/project/_effects.scss */
figure:hover.borderSlideLeft img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 481, ../sass/project/_effects.scss */
figure:hover.borderSlideLeft figcaption {
  opacity: 1;
}
/* line 485, ../sass/project/_effects.scss */
figure:hover.borderSlideLeft figcaption h2:after {
  width: 100%;
}
/* line 498, ../sass/project/_effects.scss */
figure:hover.borderSlideRight img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 503, ../sass/project/_effects.scss */
figure:hover.borderSlideRight figcaption {
  opacity: 1;
}
/* line 507, ../sass/project/_effects.scss */
figure:hover.borderSlideRight figcaption h2:after {
  width: 100%;
}
/* line 520, ../sass/project/_effects.scss */
figure:hover.borderOne figcaption {
  opacity: 1;
}
/* line 523, ../sass/project/_effects.scss */
figure:hover.borderOne figcaption:before {
  height: 120%;
}
/* line 527, ../sass/project/_effects.scss */
figure:hover.borderOne figcaption:after {
  height: 120%;
}
/* line 539, ../sass/project/_effects.scss */
figure:hover.borderTwo figcaption {
  opacity: 1;
}
/* line 542, ../sass/project/_effects.scss */
figure:hover.borderTwo figcaption:before {
  height: 120%;
}
/* line 546, ../sass/project/_effects.scss */
figure:hover.borderTwo figcaption:after {
  height: 120%;
}
/* line 558, ../sass/project/_effects.scss */
figure:hover.slideTitleTop figcaption {
  opacity: 1;
}
/* line 561, ../sass/project/_effects.scss */
figure:hover.slideTitleTop figcaption h2 {
  top: 15px;
}
/* line 574, ../sass/project/_effects.scss */
figure:hover.slideTitleBottom figcaption {
  opacity: 1;
}
/* line 577, ../sass/project/_effects.scss */
figure:hover.slideTitleBottom figcaption h2 {
  bottom: 15px;
  margin-bottom: 0;
}
/* line 590, ../sass/project/_effects.scss */
figure:hover.zoomInOut figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 596, ../sass/project/_effects.scss */
figure:hover.zoomInOut img {
  -webkit-animation: zoominout 2s infinite;
  animation: zoominout 2s infinite;
}
/* line 608, ../sass/project/_effects.scss */
figure:hover.zoomOutIn figcaption {
  top: 0;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 614, ../sass/project/_effects.scss */
figure:hover.zoomOutIn img {
  -webkit-animation: zoomoutin 2s infinite;
  animation: zoomoutin 2s infinite;
}
/* line 626, ../sass/project/_effects.scss */
figure:hover.zoomborder {
  background: none;
  border: 1px solid white;
}
/* line 630, ../sass/project/_effects.scss */
figure:hover.zoomborder figcaption {
  opacity: 1;
  padding-left: 35px;
  padding-right: 35px;
}
/* line 636, ../sass/project/_effects.scss */
figure:hover.zoomborder img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: .2;
}

/* line 645, ../sass/project/_effects.scss */
figcaption {
  position: absolute;
  opacity: 0;
  z-index: 1001;
  padding: 20px;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  transition: all .7s;
}
/* line 655, ../sass/project/_effects.scss */
figcaption h2 {
  color: #FFFFFF;
  margin-top: 0;
}
/* line 660, ../sass/project/_effects.scss */
figcaption p {
  color: #FFFFFF;
  margin-bottom: 0;
}

/*
==========================================================================
Grid CSS
- 12 column Grid system [target / context = result]
==========================================================================
*/
/* line 16, ../sass/globals/_grid.scss */
.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 100%;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-1 {
  display: inline;
  float: left;
  width: 8.33333%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-2 {
  display: inline;
  float: left;
  width: 16.66667%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-3 {
  display: inline;
  float: left;
  width: 25%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-4 {
  display: inline;
  float: left;
  width: 33.33333%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-5 {
  display: inline;
  float: left;
  width: 41.66667%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-6 {
  display: inline;
  float: left;
  width: 50%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-7 {
  display: inline;
  float: left;
  width: 58.33333%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-8 {
  display: inline;
  float: left;
  width: 66.66667%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-9 {
  display: inline;
  float: left;
  width: 75%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-10 {
  display: inline;
  float: left;
  width: 83.33333%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-11 {
  display: inline;
  float: left;
  width: 91.66667%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/globals/_grid.scss */
.grid-container .grid-12 {
  display: inline;
  float: left;
  width: 100%;
  padding: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-1 {
  margin-left: 8.33333%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-2 {
  margin-left: 16.66667%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-3 {
  margin-left: 25%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-4 {
  margin-left: 33.33333%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-5 {
  margin-left: 41.66667%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-6 {
  margin-left: 50%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-7 {
  margin-left: 58.33333%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-8 {
  margin-left: 66.66667%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-9 {
  margin-left: 75%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-10 {
  margin-left: 83.33333%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-11 {
  margin-left: 91.66667%;
  position: relative;
}

/* line 36, ../sass/globals/_grid.scss */
.grid-container .push-12 {
  margin-left: 100%;
  position: relative;
}

/* line 42, ../sass/globals/_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 46, ../sass/globals/_grid.scss */
.omega {
  margin-right: 0;
}

/* line 50, ../sass/globals/_grid.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 59, ../sass/globals/_grid.scss */
.grid-container:before,
.grid-container:after {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 71, ../sass/globals/_grid.scss */
.grid-container:after {
  clear: both;
}

/* line 75, ../sass/globals/_grid.scss */
.grid-container {
  zoom: 1;
}

/* line 5, ../sass/globals/_helpers.scss */
.no-padding {
  padding: 0 !important;
}

/* line 6, ../sass/globals/_helpers.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, ../sass/globals/_helpers.scss */
.no-float {
  float: none !important;
}

/* line 8, ../sass/globals/_helpers.scss */
.no-border {
  border: 0 !important;
}

/* line 11, ../sass/globals/_helpers.scss */
.fixed {
  position: fixed !important;
}

/* line 12, ../sass/globals/_helpers.scss */
.relative {
  position: relative !important;
}

/* line 13, ../sass/globals/_helpers.scss */
.absolute {
  position: absolute !important;
}

/* line 14, ../sass/globals/_helpers.scss */
.center {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 17, ../sass/globals/_helpers.scss */
.left {
  float: left !important;
}

/* line 18, ../sass/globals/_helpers.scss */
.right {
  float: right !important;
}

/* line 19, ../sass/globals/_helpers.scss */
.wrap {
  overflow: auto;
}

/* line 20, ../sass/globals/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/globals/_helpers.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 23, ../sass/globals/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 26, ../sass/globals/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 27, ../sass/globals/_helpers.scss */
.text-left {
  text-align: left;
}

/* line 28, ../sass/globals/_helpers.scss */
.text-justify {
  text-align: justify;
}

/* line 29, ../sass/globals/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 30, ../sass/globals/_helpers.scss */
.ellipsis {
  overflow: hidden;
}

/* line 31, ../sass/globals/_helpers.scss */
.underline {
  border-bottom: 1px solid;
}

/* line 32, ../sass/globals/_helpers.scss */
.strike {
  text-decoration: line-through;
}

/* line 33, ../sass/globals/_helpers.scss */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 34, ../sass/globals/_helpers.scss */
.spaced {
  letter-spacing: 1px;
}

/* line 37, ../sass/globals/_helpers.scss */
.block {
  display: block !important;
}

/* line 38, ../sass/globals/_helpers.scss */
.inline {
  display: inline-block !important;
}

/* line 39, ../sass/globals/_helpers.scss */
.show {
  display: block;
}

/* line 40, ../sass/globals/_helpers.scss */
.hide {
  display: none;
}

/* line 41, ../sass/globals/_helpers.scss */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* line 42, ../sass/globals/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 43, ../sass/globals/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 44, ../sass/globals/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 45, ../sass/globals/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 49, ../sass/globals/_helpers.scss */
.table-wrapper {
  display: table;
  border-collapse: collapse;
}

/* line 50, ../sass/globals/_helpers.scss */
.table-row {
  display: table-row;
}

/* line 51, ../sass/globals/_helpers.scss */
.table-cell {
  display: table-cell;
  float: left;
}

/* line 52, ../sass/globals/_helpers.scss */
.valign-top {
  vertical-align: top;
}

/* line 53, ../sass/globals/_helpers.scss */
.valign-middle {
  vertical-align: middle;
}

/* line 54, ../sass/globals/_helpers.scss */
.valign-bottom {
  vertical-align: bottom;
}

/* line 57, ../sass/globals/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 58, ../sass/globals/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Media Queries */
/* Big screens */
@media screen and (min-width: 1200px) {
  /* line 5, ../sass/project/media/_main.scss */
  .tablets {
    display: none !important;
  }
}
/* Normal screens | iPad landscape */
@media screen and (max-width: 1024px) {
  /* line 12, ../sass/project/media/_main.scss */
  .tablets {
    display: none !important;
  }
}
/* 7" tablets */
@media screen and (max-width: 600px) {
  /* line 27, ../sass/project/media/_main.scss */
  .tablets {
    display: block !important;
  }

  /* line 31, ../sass/project/media/_main.scss */
  .no-tablets {
    display: none !important;
  }

  /* line 35, ../sass/project/media/_main.scss */
  .grid-container .grid-1,
  .grid-container .grid-2,
  .grid-container .grid-3,
  .grid-container .grid-4,
  .grid-container .grid-5,
  .grid-container .grid-6,
  .grid-container .grid-7,
  .grid-container .grid-8,
  .grid-container .grid-9,
  .grid-container .grid-10,
  .grid-container .grid-11,
  .grid-container .grid-12 {
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
/* iPhone landscape */
@media screen and (max-width: 480px) {
  /* line 57, ../sass/project/media/_main.scss */
  .no-tablets,
  .no-phones {
    display: none !important;
  }

  /* line 62, ../sass/project/media/_main.scss */
  body {
    padding: 5px;
  }

  /* line 66, ../sass/project/media/_main.scss */
  h1 {
    font-size: 0.75em;
  }

  /* line 70, ../sass/project/media/_main.scss */
  h2 {
    margin: 0;
  }

  /* line 74, ../sass/project/media/_main.scss */
  p {
    font-size: 0.75em;
  }

  /* line 78, ../sass/project/media/_main.scss */
  figcaption {
    padding: 12px;
  }
}
/* iPhone portrait */
@media screen and (max-width: 320px) {
  /* line 86, ../sass/project/media/_main.scss */
  .no-tablets,
  .no-phones {
    display: none !important;
  }
}
@media print {
  /* line 2, ../sass/globals/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../sass/globals/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 14, ../sass/globals/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 18, ../sass/globals/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 22, ../sass/globals/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 28, ../sass/globals/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 34, ../sass/globals/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 38, ../sass/globals/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 43, ../sass/globals/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 51, ../sass/globals/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 58, ../sass/globals/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
