/*
==========================================================================
Grid Settings
==========================================================================
*/

$max-width: 960px;
$columns: 12;
$gutter: 0px;
$padding: 10px;

/*
==========================================================================
Fonts
==========================================================================
*/

$baseFont: "Open Sans", sans-serif;
$fontSize: 16px;
$lineHeight: 26px;

/*
==========================================================================
Colors
==========================================================================
*/

$white: #FFFFFF;
$black: #000000;

$primary-color: #353743;
$secondary-color: #0000FF;
$border-color: #343232;