/*
==========================================================================
Mixins
==========================================================================
*/

// Add transition
// http://caniuse.com/#feat=css-transitions
// ****************************************
@mixin transition($arg) {
    -webkit-transition: $arg;
       -moz-transition: $arg;
        -ms-transition: $arg;
         -o-transition: $arg;
            transition: $arg;
}

// Border radius
// http://caniuse.com/#feat=border-radius
// **************************************
@mixin border-radius($arg){
    -webkit-border-radius: $arg;
            border-radius: $arg;
}

// Add box shadow
// http://caniuse.com/#feat=css-boxshadow
// **************************************
@mixin box-shadow($arg) {
    -webkit-box-shadow: $arg;
            box-shadow: $arg;
}

// Set box sizing to border box
// http://caniuse.com/#feat=css3-boxsizing
// ***************************************
@mixin border-box() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Set opacity
// http://caniuse.com/#feat=css-opacity
// ***************************************
@mixin opacity($arg) {
    zoom: 1;
    filter: alpha(opacity = $arg * 100);
    opacity: $arg;
}

// Create triangle
// ***************************************
@mixin triangle($direction, $size, $color) {
    @if $direction == down {

        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;

    } @else if $direction == down {

        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;

    } @else if $direction == right {

        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;

    } @else if $direction == left {

        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right:$size solid $color;

    }
}