/*
==========================================================================
Project CSS
==========================================================================
*/

body {
	font-size: $fontSize;
    font-family: $baseFont;
    background: #2d2d2d;
    padding: 40px;
}

h1 {
	color: $white;
}

.wrapper {
	border: 5px solid $border-color;
	padding: 0 0 30px 0;
}

.intro {
	h1 {
		color: #848182;
		font-size: 42px; 
	}

	p {
		color: #848182;
	}
}

h2 {
	color: #848182;
}

a {
	color: #848182;
	-webkit-transition: all .7s;
	   -moz-transition: all .7s;
		    transition: all .7s;
	
	&:hover {
		color: $white;
	}
}

ul {
	color: #848182;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.codeblock { 
    background: #222;
    color: #FFF;
    font-size: 12px;
    padding: 20px;
    font-family: arial; 
    margin-bottom: 30px;
}