/* Media Queries */

/* Big screens */
@media screen and (min-width: 1200px) {
    .tablets {
        display: none !important;
    }
}

/* Normal screens | iPad landscape */
@media screen and (max-width: 1024px) {
    .tablets {
        display: none !important;
    }
}

// /* iPad portrait */
// @media screen and (max-width: 768px) {
//     .no-tablets {
//         display: none !important;
//     }
// }

/* 7" tablets */
@media screen and (max-width: 600px) {

    .tablets {
        display: block !important;
    }

    .no-tablets {
        display: none !important;
    }

    .grid-container .grid-1,
    .grid-container .grid-2,
    .grid-container .grid-3,
    .grid-container .grid-4,
    .grid-container .grid-5,
    .grid-container .grid-6,
    .grid-container .grid-7,
    .grid-container .grid-8,
    .grid-container .grid-9,
    .grid-container .grid-10,
    .grid-container .grid-11,
    .grid-container .grid-12 {
        display: inline;
        float: left;
        width: cp($max-width - $gutter);
        margin-left: cp($gutter/2);
        margin-right: cp($gutter/2);
    }
}

/* iPhone landscape */
@media screen and (max-width: 480px) {
    .no-tablets,
    .no-phones {
        display: none !important;
    }
    
    body {
        padding: 5px;
    }
    
    h1 {
        font-size: 0.75em;
    }

    h2 {
        margin: 0;
    }

    p {
        font-size: 0.75em;
    }

    figcaption {
        padding: 12px;
    }

}

/* iPhone portrait */
@media screen and (max-width: 320px) {
    .no-tablets,
    .no-phones {
        display: none !important;
    }
}